.footerDiv {
    position: fixed;
    bottom: 200px;
    height: 40px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border-top: 2px ;
    background: white;
    z-index: 100;
}

table {
    width: 80%;
    table-layout: auto;
    position: center;
}

.btn-next {
    float: right;
}

.tbl-Footer {
    width: inherit;
    padding: 10px;
}

.btn-prev {
    float: left;
}

.blockItem {
    margin: 0 auto;
    border: 1px solid;
    width: 20%;
    height: 160px;
    background-color: gainsboro;
}
